<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>126425213696-6qks0nbfudhji595j8bdlr3233cqfb5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126425213696-6qks0nbfudhji595j8bdlr3233cqfb5l</string>
	<key>API_KEY</key>
	<string>AIzaSyA8dDcieVg3iNU-3-TfXg_wAse9qDKdAh8</string>
	<key>GCM_SENDER_ID</key>
	<string>126425213696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cabasus.germany.mexico</string>
	<key>PROJECT_ID</key>
	<string>notificacionsusabac</string>
	<key>STORAGE_BUCKET</key>
	<string>notificacionsusabac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126425213696:ios:f621a5ee5176a282</string>
	<key>DATABASE_URL</key>
	<string>https://notificacionsusabac.firebaseio.com</string>
</dict>
</plist>